.Projects {
    margin-top: 80px;
    height: calc(100% - 140px) !important;
}
/* TOP BAR SECTION */
.Projects .topBar {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 80px);
    height: 60px;
    left: 40px;
    top: 80px;
}
/* PREVIOUS NEXT BUTTONS */
.Projects .navigator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.Projects .navigator .myButton{
    max-width: 50%;
}
.Projects .navigator .myButton:hover{
    background-color: inherit;
}
.Projects .navigator .myButton span{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Projects .navigator .myButton span img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
/* SIDEBAR */
.Projects .menu  {
    cursor: pointer;
    height: 60px;
    width: 60px;
}
.Projects .menu img {
    height: 40px;
    width: 40px;
    padding: 10px;
}
/* SIDEBAR OPEN */
.Projects .background {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

.Projects .background .sidebar {
    background-color: #282c34;
    width: 30%;
    height: 100%;
    padding-top: 40px;
    box-shadow: 20px 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.Projects .sidebar .item {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.Projects .sidebar .item:hover {
    background-color: #596FB7;
}


.Projects img {
    border-radius: 4px;
    box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.6);
    height: 285px;
    width: 500px
}

.Projects .imgLarge {
    width: 100%;
    height: auto;
}
.Projects .imgMed {
    width: 50%;
    height: auto;
}


.Projects .diagram img {
    margin-bottom: 10px;
}

.Projects .section {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F6ECA9;
    width: 100%;
    height: 50px;
    font-size: 20px;
}